/*
1. Base
almost exclusively single element selectors,
could include attribute selectors, pseudo-class selectors, 
child selectors or sibling selectors.
2. Layout 

Layout rules divide the page into sections. Layouts hold one 
or more modules together.
- Generally, a Layout style only has a single selector: a single ID or class name
- Layout styles can also be divided into major and minor styles based on reuse. 
- Major layout styles such as header and footer are traditionally styled using ID selectors 

3. Module
 reusable, modular parts of our design
 sit inside Layout components
 designed to exist as a standalone component
    avoid using IDs and element selectors, sticking only to class names
    By adding the classes to the elements, we have increased the semantics of what those elements mean
    -sub-classing the module, both the base module and the sub-module class names get applied to the HTML element
     <div class="pod pod-constrained">...</div>
<div class="pod pod-callout">...</div> 

4. State
A state is something that augments and overrides all other styles
In a case where a state rule is made for a specific module, the state class name should include the module name in it. The state rule should also reside with the module rules 
Theme
*/

/*
* 1. Base
*/

body {
   display: flex;
   flex-direction: column;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   height: 100vh;
   background-color: #303030;
   margin: 0;
}

/* 
* 2. Layout
*/
#header {
   position:relative;
      align-items: center;

}
#nav {
   display: flex;
   position: relative;
}

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 2.5rem
}

/*
3. Module
*/

.nav-items {
   display: flex;
   justify-content: flex-end;
   gap: 22px;
   margin-left: 30px;
   flex: 1 0 auto;
}
.gap-filler {
   flex: 1;
}

/*
* 4. State 
*/



/*
* 5. Theme 
*/
.hero-color {
   background-color:rgb(3, 24, 39);
   color: #F9FAF8; 
}