/*
1. Base
almost exclusively single element selectors,
could include attribute selectors, pseudo-class selectors, 
child selectors or sibling selectors.

2. Layout 

Layout rules divide the page into sections. Layouts hold one 
or more modules together.
- Generally, a Layout style only has a single selector: a single ID or class name
- Layout styles can also be divided into major and minor styles based on reuse. 
- Major layout styles such as header and footer are traditionally styled using ID selectors 

3. Module
 reusable, modular parts of our design
 sit inside Layout components
 designed to exist as a standalone component
    avoid using IDs and element selectors, sticking only to class names
    By adding the classes to the elements, we have increased the semantics of what those elements mean
    -sub-classing the module, both the base module and the sub-module class names get applied to the HTML element
     <div class="pod pod-constrained">...</div>
<div class="pod pod-callout">...</div> 

4. State
A state is something that augments and overrides all other styles
In a case where a state rule is made for a specific module, the state class name should include the module name in it. The state rule should also reside with the module rules 
Theme
*/

/*
* 1. Base
*/



html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #303030;
    margin: 0;
    padding: 0;
    height: 100%;
 }
canvas {
   background-color: #eee;
}
section {
   display: flex;
   align-items: baseline;
   align-self: center;
}

 /* 
 * 2. Layout
 */
 #site-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
 }
 #header,
 #footer {
    flex: 0 1 auto;
    background: #2a2727;
 }
 #nav {
    display: flex;
    position: relative;
 }
 #footer {
    flex: 0 1 40px;
 }
.content-body {
   display: flex;
   flex-direction: column;
   align-self: cente;   
}

.frame {
   display: flex; 
   border: 5px solid rgb(0,122,255)
}

 
 /*
 3. Module
 */
 .content {
}  

 .scroller {
   width: 100vw;
   height: 100vh;
    overflow-y: auto;
  }
  
.input-module {
    width: 800px;
}

 .nav-items {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    margin-left: 30px;
    flex: 1 0 auto;
 }
 .gap-filler {
    flex: 1;
 }


.grid  {
   display:flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   align-content: space-evenly;
   border: 4px solid slateblue;
}
 .box {
   display: flex;
   flex-flow: column nowrap;
   width: 200px;
   height: 200px;
   border: 2px solid rgb(0,255,22)
}
.operand {
   flex: 1;
   font-size: 2rem;
   padding-right: 1rem;
   align-self: flex-end;


}

.operand-line {
   text-decoration: underline;
}
.answer-space {
   flex: 2 1 auto;
}

 /*
 * 4. State 
 */
 
 
 
 /*
 * 5. Theme 
 */
 .content {
    background-color: #303030;
 }
 .hero-color {
    background-color:rgb(3, 24, 39);
    color: #F9FAF8; 
 }

 .scroller {
    background-color: bisque; 
    padding: 20px;
    }

form {
    background-color: palegreen;
}

