
    /*
    * 1. Base
    */

    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        height: 100vh;
        background-color: #303030;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    #nav {
        position: relative;
        align-items: center;
    }

    /*
    * 2. Layout 
    */

    #site-container {
        /* border: 3px solid magenta;
        width: 80%; */

        min-height:100vh;
        display:flex; 
        flex-direction:column; 
        justify-content:space-between;
    }

    #main {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #header {
        display: flex;
        position:relative;
        align-items: center;
        justify-content: center;
    
    }
    #nav {
            display: flex;
        flex-flow: row wrap;    
        position: relative;
        padding: 12px;

    }
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem
    }


    /* 
    3. modules
    */

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .header-container {
        width: 90%;
        max-width: 1600px;
    }
    .main-filler {
        min-height: 5px;
        flex-grow: 1;
    }

    .about-container {
        width: 90%;
        max-width: 1000px;
        justify-content: space-evenly;
        display: flex;
        gap: 52px;
        margin-bottom: 2rem;
    }

    .about {
        /* border: 2px solid hotpink; */
        width: 100%;
        /* display: flex; */
        /* flex-flow: column nowrap; */
        /* max-width: 400px; */
        /* justify-content: space-between; */
        gap: 1em;
        
    }

    .about-container .about-title  {
        font-size: 48px;
        font-weight: bolder;
        padding: 0;
        margin: 0;
    }


    img {
        width: 60%;
        min-width:250px;
    }

    .imgbox {
        width: 100%;
        align-self: center;
    }

    /* nav */
    .logo {
        
    }
    .empty-header-box{
        flex-grow:1;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        padding-left: 0;
    }

    nav ul li {
        padding: 10px 30px;
        position: relative;
        transition: all 0.3s;    
    }

    ul li a {
        font-size: 24px;
        
    }

    ul li a:hover {
        color: var(--color-primary);        
    }

    /* dropdown menu style */

    .dropdownMenu {
        display: none;
    }

    nav ul li:hover .dropdownMenu {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        background-color:#1F2937;
        border: solid 2px #F9FAF8;

    }

    nav ul li:hover .dropdownMenu ul {
        display: block;
        margin: 10px;
    }

    nav ul li:hover .dropdownMenu ul li {
        width: 150px;
        padding: 10px;
        color: aqua;
    }

    .dropdownMenu ul  {
        display: block;
        margin: 10px;
    }

    .dropdownMenu ul li {
        width: 150px;
        padding: 10px;
    }

    /* featured module */ 
    .feat-module {
        flex: .5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .feat-header {
        font-weight: bolder;
        font-size: 36px;
        text-align: center;

    }
    .image-boxes {
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-flow: row wrap;

    }

    .img-box {
        max-width: 250px;;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .img-box .box-border {
        width: 200px;
        height: 200px;
        padding: 1rem;
        border-radius: 7%;
        align-self: center;
    }

    .img-txt {
        text-align: center;
        margin-top: 0;
    }

    .quote-box {
        display: flex;
        background-color: #E5E7EB;
        flex-direction: column;
        padding: 7% 20%;
    }
    .quote {
        font-size: 32px;
        font-style: italic;
        color: #1F2937;
    }

    .quote-sign {
        align-self: flex-end;
        font-weight: bold;
    }

    .sign-up-box {
        display: flex;  

        background-color: #3882F6;
        justify-content: center;
        margin: 2em 10%;
        border-radius: .5em;
        padding: 2em 4em    ;
        gap: 5em;
        max-width: 65%;    
        align-self: center;
        
    }
    .sign-up-title {
        font-size: 28px;
        color: #F9FAF8;

    }

    .text-box {
        display: flex;
        gap: .5em;
        flex-flow: column nowrap;
        color: #E5E7EB;


    }

    .sign-up-box .button-box {
        display: flex;
        gap: .5em;
        flex-flow: column nowrap;
        color: #F9FAF8;
        background-color: aqua;
        justify-content: center ;
        align-self: center;
        max-height: 20px;

    }
    button.sign-up {
        border: 2px solid #F9FAF8; 
        background-color: #3882F6;
        max-width: 7em;
        height: 3em;
    }

    .footer {
        display: flex;
        background-color: #1F2937;
        height: 2%;
        justify-content: center;
    }

    .footer .footer {
        font-size: 14px;
        color:#F9FAF8;
        justify-self: center;
    }


    /*
    * 5. Theme 
    */

    .about-text {
        color: #c1c7bc;
        font-size: 18px;

    }


    .header.hero {
        font-size: 24px;
        background-color: #1F2937;
        color: #F9FAF8;
    }

    .is-dropDown menu {
        color: #c1c7bc;
        font-size: 18px;
    }

    .img-box .box-border {
        background-color: rgb(206, 206, 206);

    }